In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df1 = pd.read_excel('Data_byFigs.xlsx')
concentration = df1.iloc[0,1:].to_numpy()
df1 = df1.drop(index=0)

     Vgs(V)  Ids (uA) Ids (uA).1 Ids (uA).2 Ids (uA).3 Ids (uA).4
1     -0.60  22.61694    21.7619   21.10388     20.331   20.17068
2     -0.59  22.62385   21.73904   21.17301   20.57586   20.26081
3     -0.58   22.6523     21.751   21.22272   20.70321   20.35386
4     -0.57  22.63023   21.75526   21.20039    20.7532   20.35519
5     -0.56  22.71372   21.69783   21.12834    20.7415   20.34084
..      ...       ...        ...        ...        ...        ...
147    0.86  19.91677   19.27045   19.28613   19.46187   19.74875
148    0.87  19.91332    19.3082   19.28002   19.53472   19.74795
149    0.88  19.89125   19.36377   19.42571   19.39408   19.77161
150    0.89  19.85908   19.34383   19.43954   19.40764   19.76284
151    0.90  19.81893   19.32123   19.43449   19.56211    19.7623

[151 rows x 6 columns]

In [57]:
v = df1.iloc[:,0].to_numpy()
fits = []
all_i = []
for index, conc in enumerate(concentration):
  i = df1.iloc[:,index+1].to_numpy()*1e-6
  all_i.append(i)
  z = np.polyfit(v.astype('float'),i.astype('float'),20)
  fits.append(z)
fits

[array([-1.12873239e+01,  3.88935907e+01, -2.86070655e+01, -4.30182708e+01,
         6.45369323e+01,  9.18338722e+00, -4.88784546e+01,  7.88338538e+00,
         1.96901190e+01, -5.62169002e+00, -4.84100424e+00,  1.58007880e+00,
         7.77597346e-01, -2.28752351e-01, -8.37727585e-02,  1.58428521e-02,
         5.68765009e-03, -1.98932474e-04, -1.68337165e-04, -3.04055170e-05,
         1.70847304e-05]),
 array([-1.91083192e+01,  5.22598335e+01, -1.08070270e+01, -8.43475794e+01,
         5.65755298e+01,  5.55289635e+01, -5.39086634e+01, -1.90978203e+01,
         2.56840885e+01,  3.70659610e+00, -7.20079008e+00, -4.51793706e-01,
         1.24053607e+00,  5.36287002e-02, -1.28836833e-01, -8.06255196e-03,
         7.26067239e-03,  8.39245889e-04, -1.36288224e-04, -4.13411451e-05,
         1.53043126e-05]),
 array([ 9.64798712e+00, -3.72972891e+01,  3.75823100e+01,  2.85525952e+01,
        -7.05871336e+01,  1.17915800e+01,  4.66296277e+01, -2.17314978e+01,
        -1.55769774e+01,  1.08358448e+01,  2.85095341e+00, -2.81842152e+00,
        -2.85895820e-01,  4.26224622e-01,  1.70816607e-02, -3.77399692e-02,
        -1.25964453e-03,  1.84011549e-03,  1.32235643e-04, -4.36290965e-05,
         1.25321724e-05]),
 array([ 1.93754059e+01, -5.57214098e+01,  1.86690448e+01,  8.34064598e+01,
        -6.95343422e+01, -4.70487092e+01,  6.21864449e+01,  1.07291647e+01,
        -2.82766006e+01,  3.10410515e-01,  7.59829735e+00, -6.81039361e-01,
        -1.26890095e+00,  1.46169147e-01,  1.33018863e-01, -1.41270913e-02,
        -8.65741202e-03,  6.30473552e-04,  3.49017789e-04, -1.16663393e-05,
         1.05683849e-05]),
 array([-1.21152657e+00,  1.05760650e+01, -2.31316148e+01,  7.09555522e+00,
         3.02193021e+01, -2.70037902e+01, -1.25660651e+01,  2.15281320e+01,
         3.93298160e-01, -8.48367730e+00,  1.28505559e+00,  1.92696798e+00,
        -4.49610938e-01, -2.64068085e-01,  7.13736763e-02,  2.18138660e-02,
        -6.05446112e-03, -1.04178083e-03,  2.90139121e-04,  2.27679276e-05,
         1.08050037e-05])]

In [58]:
with open('sodium_fits.npy', 'wb') as f:
    np.save(f, fits)